.percent-gradient{
    background: linear-gradient(to right, blue, white);
    border-radius: 15%;
}

.main {
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');